@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
	{
		@Html.AntiForgeryToken()

	  <ul class="nav navbar-nav navbar-right">
			<li>
				@Html.ActionLink(User.Identity.GetUserName() + " שלום	", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">יציאה</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("כניסה", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
