@{
	ViewBag.Title = "מייל אישור נשלח אל המשתמש";
}

<div class="container-fluid" style="float:right;background-color:white">
	<h2>@ViewBag.Title</h2>

	<p class="text-danger">
		@Html.ActionLink("בחזרה לעמוד הראשי", "Index")
	</p>

</div>