@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Locked Out";
}

<div class="container-fluid" style="float:right;direction:rtl">
	<hgroup>
		<h1 class="text-error">@ViewBag.Title</h1>
		<h2 class="text-error">החשבון ננעל, נא לנסות מאוחר יותר, תודה</h2>
	</hgroup>
</div>