@{
	ViewBag.Title = "מייל אישור נשלח";
}

<h2>@ViewBag.Title</h2>
<p class="text-info">
	נשלח מייל אישור למשתמש החדש
</p>
<p class="text-danger">
	@Html.ActionLink("בחזרה לעמוד הראשי", "Index")
</p>

