@{
	ViewBag.Title = "נשלחה הודעה לאתחול הסיסמה";
}

<div class="container-fluid" style="float:right;background-color:white">

	<h2>@ViewBag.Title</h2>
	<hr />

	<div>
		<h3 >
			נשלחה הודעת אתחול סיסמה אל כתובת הדואר האלקטרוני הרשומה במערכת
		</h3>
	</div>

	</div>