@{
	ViewBag.Title = "הסיסמה אותחלה בהצלחה";
}

<div class="container-fluid" style="float:right;background-color:white">
	<h2>@ViewBag.Title</h2>
	<hr />

	<p>
		@Html.ActionLink("להתחברות למערכת נא לחץ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })
	</p>
</div>
