@{
    ViewBag.Title = "Home Page";
}

<div  class="jumbotron"  style="text-align:center; background-image: linear-gradient( #ccfac7 20%,rgb(255, 255, 255)100%); color:#022802">
    <h1>מערכת לניהול תגבורים</h1>
</div>
